@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    color: #777;
    font-family: 'Libre Franklin',sans-serif;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    overflow-x: hidden !important;
}

.font-teko {
    font-family: Teko;
}

.font-shadow {
    font-family: "Shadows Into Light";
}

.shadow-inner {
  box-shadow: inset 0 5px 9px 0 rgb(0 0 0 / 15%);
}

.jumbotron {
    color: white;
    background: radial-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.45)), url("../img/liquor-store.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.jumbotron h1 {
    font-size: 105px;
    line-height: 110px;
    font-weight: 400;
    font-family: Teko;
    transition: none 0s ease 0s;
    opacity: 1;
}

.jumbotron p {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
}

.tagline {
  padding-top: 60px;
}

.jumbotron .beer-on-hand_1,
.jumbotron .beer-on-hand_2 {
    position: absolute;
}

.jumbotron .beer-on-hand_1 {
    left: -130px;
    top: 30%;
}

.jumbotron .beer-on-hand_2 {
    right: -110px;
    top: 30%;
}


.jumbotron .beer-on-hand_1 img {
    width: 500px;
    -webkit-animation: shake 1.5s linear 0s;
    -moz-animation: shake 1.5s linear 0s;
    -ms-animation: shake 1.5s linear 0s;
    -o-animation: shake 1.5s linear 0s;
    animation: shake 1.5s linear 0s;
}

.jumbotron .beer-on-hand_2 img {
    width: 500px;
    -webkit-animation: shake2 1.5s linear 0s;
    -moz-animation: shake2 1.5s linear 0s;
    -ms-animation: shake2 1.5s linear 0s;
    -o-animation: shake2 1.5s linear 0s;
    animation: shake2 1.5s linear 0s;
}

.navbar {
    background: #00040597 !important;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Libre Franklin',sans-serif !important;
}


.navbar .address {
    font-size: 20px;
}

.navbar .contact {
  margin-top: 1.5rem;
}

.logo-container {
  text-align: left;
  padding: .5rem 0;
}

.contact-container {
  text-align: right;
}

.navbar .contact a {
    background: #ff9f04;
    display: inline;
    padding: 12px 20px 13px;
    color: #fff!important;
    cursor: pointer;
    background-color: #ff9f04;
    font-size: 18px;
    border-radius: 0;
    transition: .5s;
}

.navbar-brand img  {
  width: 380px;
}

.btn-animated:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-animated:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

/* keyframes */
@-webkit-keyframes shake {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes shake {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-ms-keyframes shake {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-o-keyframes shake {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  /* beer-on-hand_2 keyframes */

  @-webkit-keyframes shake2 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes shake2 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-ms-keyframes shake2 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @-o-keyframes shake2 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes shake2 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(-10deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(10deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }


  /* Section 2 */
.section-2 {
  background-color: #f9fff3;
  height: 100%;
  padding: 110px 110px 70px;
}

.section-2 p.title {
    font-size: 30px;
    color: #017d53;
  }

.section-2 h1.title_2 {
  font-size: 50px;
}

.section-2 h1 span.prices {
    color: #017d53;
}

.section-2 .btn-contact {
  margin-top: 3rem;
}

.section-2 .btn-contact .btn {
  color: #fff;
  background-color: #000;
  letter-spacing: .15em;
  font-weight: 600;
  font-size: 15px;
  padding: 14px 40px 12px;
  border-radius: 0.3rem;
  transition: .5s;
}

.section-2 .btn-contact .btn:hover {
  color: #fff;
  background-color: #017d53;
}

.section-2 .item-content {
  line-height: 2;
  margin-bottom: 20px;
}

.section-2 .item-titles {
  font-size: 27px;
  color: inherit;
  transition: 0.3s;
  font-weight: 600;
}

.section-2 a.item-titles:hover {
  color: #017d53;
}

.section-2 .item-img {
  text-align: right;
  margin: 0;
  padding: 0;
}

.section-2 .item-img a {
  filter: inherit;
  transition: .3s;
}

.section-2 .item-img a:hover {
  filter: invert(22%) sepia(81%) saturate(3921%) hue-rotate(156deg) brightness(89%) contrast(99%);
}

.section-2 .item-paragraph {
  font-size: 15px;
  color: #505050;
}

/* Section 4 */
.section-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../img/section-3-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 90px 70px;
}

.owl-dots {
  display: none;
}

.owl-item {
  width: 51.25px;
  margin-right: 10px;
}

.owl-stage {
  transform: translate3d(-1527px, 0px, 0px);
  transition: all 0.25s ease 0s;
  width: 3334px;
}

.owl-item {
  width: 128.906px;
  margin-right: 10px;
}


/* Contact US */

.contact-us {
  background-color: #f0ffe269;
  padding: 120px 0 0;
}

.contact-us .row {
  margin-right: 0;
  margin-left: 0;
}


.contact-us .questions {
  font-size: 17px;
}

.contact-us h1 {
  font-size: 60px;
  line-height: .7;
}

.contact-us input.form-control {
  height: calc(2em + 0.75rem + 2px);
  border-radius: 0;
}


section .box {
  margin: 0 auto;
  padding: 35px 50px 40px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-family: 'Libre Franklin',sans-serif;
}

.form-group label {
  font-size: 17px;
}

.form-group input,
.form-group textarea {
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 3px;
}

textarea {
  resize: vertical;
}

button[type="submit"],
button[type="submit"]:focus,
button[type="submit"]:active {
  color: rgb(33, 37, 41);
  background-color: #020202;
  padding-top: 14px;
  padding-bottom: 10px;
  letter-spacing: .15em;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.6s ease background-color;
  margin-top: 10px;
}

button[type="submit"]:hover {
  color: #fff;
  background-color: #017d53;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}



.contact-us .info p {
  font-size: 18px;
  margin-right: 13px;
  border: 1px solid rgba(128, 128, 128, 0.15);
  padding: 11px 26px;
  margin-bottom: 0;
  background: #ffffff;
  color: #444444;
  border-radius: 0.3rem;
}
  
.contact-us .info p:hover {
  cursor: pointer;
}


.contact-us .info p i {
  color: #017d53;
}

.contact-us .info .socials {
  margin-left: auto;
}

.contact-us .info .socials a {
  text-decoration: none;
  display: inline-block;
}

.contact-us .info .socials a.facebook {
  color: rgb(12, 12, 206);
  font-size: 57px;
  margin-right: 6px;
}

.contact-us .info .socials a.insta {
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #F58529, #DD2A7B);
  -webkit-text-fill-color: transparent;
  color: #464646;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 59px;
}


.contact-us .info p a,
.contact-us .info p a:hover {
  color: inherit;
}

.contact-us .map {
  margin: 120px 0 0;
}


/* SECTION 5 */
.section-5 {
  margin-top: -11px;
  overflow: hidden;
}

.section-5 .images  {
  display: inline-block;
  width: 100%;
  height: 410px;
  background-color: #000 !important;
  margin: 5px 0 0 0;
  padding:0; 
  overflow: hidden;
}

.section-5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 1.75s ease-out;
}

.images:hover img {
  transform: scale(1.06);
}


/* FOOTER */
footer {
  margin-top: -7px;
  
}

.footer-top {
  background-color: #1b1b1b;
  padding: 1.5rem 0;
}

.footer-bottom {
  background-color: #141414;
}

.footer-bottom p {
  color: #a7a7a7;
  transition: 300ms ease-in;
}

.footer-bottom p:hover {
  color: #fff;
  cursor: pointer;
}


/* Media Queries */

@media all and (max-width: 1400px){
  .jumbotron h1 {
    width: 75%;
    margin: 0 auto;
  }

}

@media all and (max-width: 1200px){
  .jumbotron .beer-on-hand_1 img,
  .jumbotron .beer-on-hand_2 img {
    width: 430px;
  }

  .navbar .address {
    font-size: 18px;
  }

  .navbar .contact a {
    font-size: 16px;
    padding: 10px 18px 11px;
  }

  .jumbotron h1 {
    font-size: 100px;
    line-height: 92px;
  }

  .navbar-brand img  {
    width: 350px;
  }

  .section-2 {
    padding: 60px 50px;
  }

  .section-5 .images {
    height: 305px;
  }

  .jumbotron h1 {
    width: 75%;
    margin: 0 auto;
  }

  .section-2 .btn-contact {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .section-2 .intro {
    text-align: center;
  }
}

@media all and (max-width: 1049px){
  .jumbotron .beer-on-hand_1 img,
  .jumbotron .beer-on-hand_2 img {
    width: 390px;
  }

  .jumbotron h1 {
    font-size: 85px;
    line-height: 85px;
  }

  .navbar-brand img {
    width: 335px;
  }
}


@media all and (max-width: 800px){
  .jumbotron .beer-on-hand_1 img,
  .jumbotron .beer-on-hand_2 img {
    display: none;
  }

  .jumbotron h1 {
    width: 100%;
  }

  .navbar .address {
    display: none;
  }

  .navbar .contact {
    margin-top: 0;
  }

  .section-2 h1.title_2 {
    font-size: 45px;
  }

  .section-2 .btn-contact .btn {
    display: none;
  }

  .section-2 .item-paragraph {
    line-height: 23px;
  }

  .section-2 .item-titles {
    font-size: 24px;
  }

  .section-2 {
    padding: 40px;
  }

  .contact-us .info p a {
    font-size: 15px;
  }

  .contact-us .questions {
    font-size: 15px;
    margin-bottom: 0;
  }

  .contact-us .info .socials a.facebook {
    font-size: 46px;
  }

  .contact-us .info .socials a.insta {
    font-size: 48px;
  }

  .contact-us .box {
    padding: 55px
  }

  .contact-us {
    padding: 70px 10px 0;
  }

  .contact-us .map {
    margin: 70px 0 0;
  }

  .section-5 .images {
    margin-bottom: -5px;
    margin-top: -5px;
  }

  .footer-top img {
    height: 90px;
  }

  .footer-top {
    background-color: #1b1b1b;
    padding: 1rem 0;
  }

  .jumbotron h1 {
    font-size: 103px;
    line-height: 90px;
  }
}

@media all and (max-width: 769px) {
  .contact-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo-container {
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 670px){
  .contact-us .info {
    flex-wrap: wrap;
  }

  .contact-us .info p {
    margin: 0 auto;
    width: 95%;
  }

  .contact-us .info .socials {
    margin-left: 0;
  }
}


@media all and (max-width: 570px){
  .contact-us .info {
    flex-wrap: wrap;
  }

  .contact-us .info p {
    margin-right: 5px;
  }

  .contact-us .info .socials {
    margin-left: 0;
  }
}

@media all and (max-width: 500px) {
  .navbar-brand {
    margin-right: 0rem !important;
    margin-left: -8px;
  }

  .jumbotron h1 {
    font-size: 80px;
    line-height: 70px;
  }

  .section-2 .item-img {
    text-align: left;
    margin: 0 5px;
  }

  .section-2 .item-content {
    margin-bottom: 0;
  }

  .section-2 {
    padding: 40px 60px;
  }

  .contact-us .box {
    padding: 40px 30px;
 }

 .contact-us h1 {
  font-size: 45px;
 }

 .section-4 {
   padding: 30px 20px;
 }
}




.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.section-4 img {
  width: 100%;
}
